.th-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select:none;
}

.sortIcons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortIcons button {
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  display: inline-block;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}

.sortIcons button:first-child {
  position: relative;
  top: 1px;
}

button.sortIcon--active {
  color: white;
  font-size: 0.6rem;
}